/* Global */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: whitesmoke;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1, h2, h3 {
    color: black;
}

a {
    color: mediumslateblue;
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

/* Page Container */
.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px lightgray;
    text-align: center;
}

/* Buttons */
button, .btn {
    display: inline-block;
    background: mediumslateblue;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    text-decoration: none;
}

button:hover, .btn:hover {
    background: slateblue;
    text-decoration: none;
}

/* Forms */
form {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
    margin-top: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-sizing: border-box;
    font-size: 16px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

form button {
    width: 100%;
    margin-top: 20px;
}

/* List */
li {
    background: white;
    padding: 15px;
    margin: 10px auto;
    border-radius: 6px;
    box-shadow: 0px 0px 10px lightgray;
    max-width: 500px;
    text-align: center;
}

/* Labels */
p {
    color: slategray;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* Links */
.link {
    color: mediumslateblue;
    text-decoration: none;
}

.link:hover {
    color: slateblue;
    text-decoration: none;
}

.link-danger {
    color: red;
    text-decoration: none;
}

.link-danger:hover {
    color: red;
    text-decoration: none;
}

/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    border: 1px solid lightgrey;
    text-align: left;
}

th {
    background-color: mediumslateblue;
    color: white;
}

.action-links a {
    margin-right: 10px;
}

/* Navbar */
.navbar {
    width: 80%;
    background-color: mediumslateblue;
    height: 50px;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px lightgray;
    margin-left: auto;
    margin-right: auto;
}

.navbar-menu {
    height: 100%;
    display: flex;
}

.navbar-menu a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
    display: flex; 
    align-items: center; 
    height: 100%; 
}

.navbar-menu a:hover {
    background-color: slateblue;
    color: white;
    text-decoration: none;
}

.navbar-menu a.logout-btn {
    background-color: transparent;
}

.navbar-menu a.logout-btn:hover {
    background-color: red;
}

/* Dropdown Button */
.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
}

.dropbtn {
    color: white;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0; 
    border-radius: 0;
    width: 150px;
    justify-content: center;
    font-size: medium;
}

.dropdown:hover .dropbtn {
    background-color: slateblue;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 5px 5px 0px lightgray;
    z-index: 1;
    top: 50px;
    left: 0;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    height: auto;
    font-weight: normal;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}
.dropdown:hover .dropdown-content {
    display: block;
}